**/target/
**/*.rs.bk
*.swp
.wasm-binaries
.vscode
.DS_Store
.idea/
nohup.out
**/wip/*.stderr
.local
.cargo-remote.toml
*.bin
*.iml
**/node_modules
**/dist
bridge/ffi/src/c_example/libdsnp_graph_sdk_ffi.a
bridge/ffi/src/c_example/main
bridge/ffi/src/c_example/dsnp_graph_sdk_ffi.h
*.class
bridge/node/dsnp_graph_sdk.node
bridge/node/js/dsnp_graph_sdk.node
